/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #cbceb6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
}

.container {
    text-align: left;
    max-width: 600px;
    padding: 80px;
    background-color: #c5c5aa;
    border-radius: 10px;
}

.container_hard {
    text-align: left;
    max-width: 600px;
    padding: 80px;
    background-color: #c5c5aa;
    border-radius: 10px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
    animation: fadeIn 1s ease-in-out;
}

.menu {
    margin-left: 20px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    transition: color 0.3s, transform 0.3s;
}

.menu ul li a:hover {
    color: #ffffff;
    transform: translateX(10px);
}

.footer {
    margin-top: 50px;
    font-size: 14px;
    text-align: left;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .menu ul li a {
        font-size: 18px;
    }
}
